dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
.virtualenv
.hsenv
.cabal-sandbox/
cabal.sandbox.config
cabal.config
*.swp
*.annot
*.cst.html
*.fq*
*.json
*.html
*.out
*.smt2
.liquid
liquid-fixpoint
liquidhaskell
